body {
    padding-top: 70px;
}

.hidden {
    display: none;
}

.main-page1
{
	border:1px solid lightblue;
	border-radius: 5px;
	margin-left: 5px;
	margin-right: 5px;
	width:20%;
	float:left;
	padding-top: 5px;
}

.main-page2
{
	float:right;
	border:1px solid lightblue;
	border-radius: 5px;
	padding:5px;
	margin-left: 5px;
	margin-right: 5px;
	width:76%;
	float:left;
}

#divright-header
{

}

.divright-ul
{
	text-align: justify;
}